

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
    <form class="layui-form"  lay-filter="adminteachinfoFormFilter"  >
        <div class="layui-form-item">
            <label class="layui-form-label">ID名</label>
            <div class="layui-input-inline">
                <input type="text" name="tid" lay-verify="required"
                       placeholder="请输出ID名" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教师名</label>
            <div class="layui-input-inline">
                <input type="text" name="tname"  lay-verify="required" placeholder="请输入教师名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="text" name="sex"  lay-verify="required" placeholder="请输入性别" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">辅助文字</div>
        </div>
       <!-- <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="0" title="男">
                <input type="radio" name="sex" value="1" title="女" checked>
            </div>
        </div>--><!--
        <div class="layui-form-item">
            <label class="layui-form-label">登录id</label>
            <div class="layui-input-inline">
                <input type="text" name="loginid" required  lay-verify="" placeholder="登录id" autocomplete="off" class="layui-input">
            </div>
        </div>-->
     <!--   <div class="layui-inline">
            <label class="layui-form-label">所属权限组</label>
            <div class="layui-input-block">
                <select name="groupid" id="roleGroupSelect">
                </select>
            </div>
        </div>-->
     <!--   <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" required  lay-verify="phone" placeholder="电话" autocomplete="off" class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="addadminteachinfoFrom">保存</button>
            </div>
        </div>
    </form>


</div>

<script>
    layui.use(['admin', 'form', 'upload'], function(){
        var $ = layui.$
            ,form = layui.form
            ,upload = layui.upload;


    })
</script>